@import '../../../../../assets/styles/variables.scss';

.hero-case{
    width: 100%;
    .hero{
        width: 100%;
        background-image: url(../../../../../assets/images/hero-bg.jpg);
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            // font-size: 2em;
            color: $white;
        }
    }
    .sub-hero{
        background-image: url(../../../../../assets/images/sub-hero-bg.jpg);
        color: $white;
        background-size: cover;
        background-position: center;
    }
}