@import "../../../assets/styles/variables.scss";

.contact{
    .top-band{
        width: 100%;
        background-image: url(../../../assets/images/yellow-brick-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        padding-bottom: 10em;
        .topic-space{
            background-image: url(../../../assets/images/blue-brick-bg.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 8em;
            text-align: center;
            color: $white;
            border-radius: 20px;
            box-shadow: 0 4px 10px 0 $black-faint3;
            // box-shadow: 10px 10px 2px 0 $black-faint3;
            width: 90%;
            max-width: 1200px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
    .content-body{
        width: 100%;
        background-image: url(../../../assets/images/small-angle-bg.jpg);
        .cover{
            border: 1px dashed $primary-blue;
            border-radius: 20px;
            background-color: $white-faint1;
            padding: 30px 26px;
            .item-card{
              .input-grp{
                padding-top: 0.9em;
                label{
                  font-weight: 700;
                  font-size: 0.7em;
                  margin-bottom: 0;
                }
                input, textarea, select{
                  width: 100%;
                  border-radius: 8px;
                  padding: 5px 15px;
                  border: 1px solid $primary-blue-hover-faint3;
                  box-shadow: 0 4px 8px -3px $black-faint4;
                  transition: 0.3s ease;
                  background-color: $white;
                  &:focus{
                    outline: none;
                    border-color: $primary-blue;
                    box-shadow: 0 4px 8px 0 $black-faint3;
                  }

                }
                select{
                  padding: 7.5px 15px;
                }
                input[type=file]{
                  padding: 2px 15px;
                  &::-webkit-file-upload-button {
                    visibility: hidden;
                  }
                }
              }
            }
        }
    }
}