@import "../../../assets/styles/variables.scss";

.product-updates{
    .top-band{
        width: 100%;
        background-image: url(../../../assets/images/yellow-brick-bg.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
        padding-bottom: 10em;
        .topic-space{
            background-image: url(../../../assets/images/blue-brick-bg.jpg);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 8em;
            text-align: center;
            color: $white;
            border-radius: 20px;
            box-shadow: 0 4px 10px 0 $black-faint3;
            // box-shadow: 10px 10px 2px 0 $black-faint3;
            width: 90%;
            max-width: 1200px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }
    .content-body{
        width: 100%;
        background-image: url(../../../assets/images/small-angle-bg.jpg);
    }
}